<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <link rel="stylesheet" href="style.css" />

</head>

<body>

    <form method="post" action="/register">
        <h1>Register Now</h1>

        <label>Full Name :</label>
        <input type="text" name="Fname" />
        <label>Email :</label>
        <input type="email" name="Email" />
        <label>Password :</label>
        <input type="password" name="Password">
        <button type="submit">Sign Up</button>
    </form>

</body>
<script src="script.js"></script>
</html>
