<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Page</title>

    <link rel="stylesheet" href="style.css" />

</head>

<body>

    <!-- <h1>Hi, <%= name %></h1> -->

    <form method="get" action="/logout">
        <h1>Hi, <%= name %> Welcome</h1>

        <!-- <label>Full Name :</label>
        <input type="text" name="Fname" />
        <label>Email :</label>
        <input type="email" name="Email" />
        <label>Password :</label>
        <input type="password" name="Password"> -->
        <button type="submit">Logout</button>
    </form>

</body>
<script src="script.js"></script>
</html>
